.hboxNodeNormal{
	-fx-fill-height:true;
	-fx-border-style:  solid;
	-fx-border-width: 2;
}

.hboxNodeNewAddedNode{
	-fx-fill-height:true;
	-fx-border-style:  solid;
	-fx-border-color: red;
	-fx-border-width: 2;
}

.hboxNodeDenode{
	-fx-fill-height:true;
	-fx-border-style:  solid;
	-fx-border-color: green;
	-fx-border-width: 3;
}

.boxNodeValue{
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-alignment: center;
}

.textNode{
}

.boxNodeLink{
	-fx-border-style: solid;
	-fx-border-color: black;
}