@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

body{
	-fx-font-family: "Poppins";
}
	
.classicalBackground{
	-fx-background-image: url("./../Images/MJAkxbh.png");
}